body {
    font-size: 18px;
    
}

h1 {
    text-align: center;
}

.subtitle{
    text-align: center;
}

span {
    color: rgb(129, 129, 129);
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
    line-height: 30px;
}

.temperatureMap {
    text-align: center;
}

.tail {
    font-size: 10px;
    color: rgb(129, 129, 129);
}